@charset "utf-8";

.square div div div{
    position: relative;
    background-color: #e5e1e1;
    color: #a6a6a6;
    text-align: center;
    width: 320px;
    height: 300px;
    margin: 5px 5px 5px 5px;
    display: inline-block;
    border: 2px dashed rgba(0, 0, 0, 0.5);
    border-radius: 20%;
}