@charset "utf-8";
.profileWrap, .careerWrap, .technicWrap, .educationWrap, .projectWrap{
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 280px;
    margin: 10px auto;
    /* 가이드용 border */
    border: 2px dashed rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.projectWrap{
    height: 600px;
}

.profileWrap .profile_pic{
    position: absolute;
    background-color: transparent;
    background-image: url(../img/main/profile/pic.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 175px;
    height: 225px;
    left: 10px;
    top: 50%;
    transform: translate(0,-50%);
    margin: 0px auto;
    /* 가이드용 border */
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.profileWrap .profile_title{
    position: absolute;
    width: 120px;
    height: 50px;
    left: 200px;
    top: 25px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0px auto;
    /* 가이드용 border */
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.profileWrap .profile_introduce{
    position: absolute;
    width: calc(100% - (120px + 120px));
    height: 110px;
    left: 200px;
    top: 80px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    line-height: 40px;    
    margin: 0px auto;
    padding: 10px 0 0 10px;
    /* 가이드용 border */
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.profileWrap .profile_links{
    position: absolute;
    width: calc(100% - (120px + 120px));
    height: 50px;
    left: 200px;
    top: 200px;   
    text-align: left; 
    margin: 0px auto;
    padding: 10px 0 0 10px;
    /* 가이드용 border */
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.technicWrap .technic_title,
.careerWrap .career_title,
.educationWrap .education_title,
.projectWrap .project_title{
    position: absolute;
    width: 120px;
    height: 50px; 
    left: 10px;
    top: 10px;
    font-size: 1rem;
    text-align: center;
    margin: 0px auto;
    /* 가이드용 border */
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.5);
}

.educationWrap .education_contents,
.careerWrap .career_contents{
    position: absolute;
    width: 98%;
    height: 200px;
    left: 10px;
    top: 70px;   
    margin: 0px auto;
    /* 가이드용 border */
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.educationWrap .education_contents .education_row,
.careerWrap .career_contents .career_row{
    position: absolute;
    width: 98%;
    height: 70px;
    left: 10px;
    top: 10px;
    margin: 0px auto;
    /* 가이드용 border */
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.educationWrap .education_contents div:first-child,
.careerWrap .career_contents div:first-child{
    top: 10px;
}

.educationWrap .education_contents div:nth-child(2),
.careerWrap .career_contents div:nth-child(2){
    top: 90px;
}

.educationWrap .education_contents .education_row div,
.careerWrap .career_contents .career_row div{
    position: absolute;
    width: 49%;
    height: 85%;
    top: 5px;
    margin: 0px auto;
    /* 가이드용 border*/
    border: 2px solid rgba(0, 0, 0, 0.5); 
}

.educationWrap .education_contents .education_row div:first-child,
.careerWrap .career_contents .career_row div:first-child{
    left: 5px;   
}

.educationWrap .education_contents .education_row div:nth-child(2),
.careerWrap .career_contents .career_row div:nth-child(2){
    right: 5px;   
}

.technicWrap .tech_wrap{
    display: flex;
    flex-flow: column wrap;
    width: 98%;
    height: 70%;
    margin: 70px auto;
    /* 가이드용 border*/
    border: 2px solid rgba(0, 0, 0, 0.5); 
}

.technicWrap .tech_wrap div{
    display: relative;
    width: 33%;
    height: 90%;
    text-align: center;
    margin: 5px auto;
    /* 가이드용 border*/
    border: 2px solid rgba(0, 0, 0, 0.5); 
}

.technicWrap .tech_wrap .dev_stack div{
    position: relative;
    width: 90%;
    height: 30px;
}

.technicWrap .tech_wrap .dev_stack div:nth-child(2){
    height: calc(100% - (30px + 20px));
}

.project_wrap div{
    position: absolute;
    width: 100%;
    left: 10px;
    text-align: center;
}

.project_wrap .project_section_title{
    top: 70px;
}

.project_wrap .project_section_sub{
    top: 100px;
}
.project_wrap .project_section_pic_wrap{
    position: relative;
    width: 600px;
    height: 500px;
    top: 150px;
}

.project_wrap .project_section_intro{
    position: relative;
    top: 150px;
}

#main_contents .to_top_button{
    float: right;
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.5rem;
    bottom: 1.5rem;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 0.3rem;
    z-index: 998;
}