@charset "utf-8";

 .square div div div{
    position: relative;
    background-color: transparent;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 5px;
    display: inline-block;
    border: 2px dashed rgba(0, 0, 0, 0.5);
}

.profileWrap, .careerWrap, .technicWrap, .educationWrap, .projectWrap{
    position: relative;
    background-color: transparent;
    width: 95%;
    height: 280px;
    margin: 5px auto;
    /* 가이드용 border */
    border: 2px dashed rgba(0, 0, 0, 0.5);
}

.profileWrap .profile_pic{
    position: absolute;
    background-color: transparent;
    background-image: url(../img/main/pic.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 175px;
    height: 225px;

    left: 10px;
    top: 50%;

    transform: translate(0,-50%);

    margin: 0px auto;
    /* 가이드용 border */
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.profileWrap .profile_title{
    position: absolute;

    width: 120px;
    height: 50px;

    left: 200px;
    top: 25px;

    font-size: 30px;
    font-weight: bold;
    text-align: center;

    margin: 0px auto;
    /* 가이드용 border */
    border: 2px solid rgba(0, 0, 0, 0.5);
}

/* 반응형 적용 필요 */
.profileWrap .profile_introduce{
    position: absolute;

    width: 75%;
    height: 110px;

    left: 200px;
    top: 80px;

    font-size: 20px;
    font-weight: bold;
    text-align: left;
    line-height: 40px;    

    margin: 0px auto;
    padding: 10px 0 0 10px;
    /* 가이드용 border */
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.profileWrap .profile_links{
    position: absolute;
    width: 75%;
    height: 50px;

    left: 200px;
    top: 200px;
    
    text-align: left; 

    margin: 0px auto;
    padding: 10px 0 0 10px;
    /* 가이드용 border */
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.technicWrap .technic_title,
.careerWrap .career_title,
.educationWrap .education_title,
.projectWrap .project_title{
    position: absolute;
    width: 120px;
    height: 50px; 

    left: 10px;
    top: 10px;

    font-size: 28px;
    text-align: center;

    margin: 0px auto;
    /* 가이드용 border */
    border: 2px solid rgba(0, 0, 0, 0.5);
}